* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: rgb(255, 211, 9);
    background: linear-gradient(0deg, rgba(255, 211, 9, 1) 24%, rgba(250, 7, 187, 1) 65%, rgba(10, 255, 190, 1) 100%, rgba(210, 6, 245, 1) 100%);
}

.avatar {
    width: 140px;
    border-radius: 70%;
    border: 3px solid white;
    box-shadow: 0 0 15px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 2px;
    margin-top: 5px;
}

h2 {
    font-size: 16px;
    padding-bottom: 20px;
}

.profile {
    text-align: center;
    margin-top: 15px;
}

.link-list {
    list-style: none;
}

.link-list li {
    margin: 10px 20px;
    padding-bottom: 10px;
}

.link-list li a {
    display: block;
    background: white;
    padding: 6px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: rgba(210, 6, 245, 1);
    text-align: center;
    font-weight: bolder;
    border: 3px solid white;
    box-shadow: 0 0 8px white;
}

.link-list li a span {
    color: rgba(250, 7, 187, 1);
    display: block;
    margin-top: 10px;
    font-weight: 100;
}

.footer {
    margin-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}